.content {
    display: flex;
    width: 100%;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
}
.piano {
    display: flex;
    position: relative;
    width: 50vw;
    height: 40vh;
}

.piano .key {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1%;
    font-size: 2vh;
    cursor: pointer;
    position: relative;
}

.piano .key.highlight::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 191, 255, .5);
}

.piano .key.white {
    z-index: 1;
    height: 99%;
    width: 11.25%;
    background-color: #fff;
    outline: .1vh solid #000;
    color: #000;
}

.piano .key.white:hover {
    background-color: #c9c9c9;
}

.piano .key.white.highlight::after {
    height: 100%;
}

.piano .key.black {
    z-index: 2;
    position: absolute;
    height: 59%;
    width: 5%;
    background-color: #000;
    color: #fff;
}

.piano .key.black:hover {
    background-color: #666666;
}

.piano .key.black.highlight::after {
    height: 100%;
}

.piano > :nth-child(2) {
    left: 8.75%;
}

.piano > :nth-child(4) {
    left: 19.75%;
}

.piano > :nth-child(6) {
    left: 31%;
}

.piano > :nth-child(9) {
    left: 53.25%;
}

.piano > :nth-child(11) {
    left: 64.25%;
}

.piano > :nth-child(14) {
    left: 86.75%;
}