<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <title>{% block title %}Play Piano{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% if mode and mode != "freeplay" and mode != "scoreboard" %}
        {% block modal %}
        {% if mode == 'play_music' %}
        <section class="modals">
        {% else %}
        <section class="modals hidden">
        {% endif %}
            {% block selection %}
            {% endblock %}
            <div class="modal end">
                <h1>Success!</h1>
                <p>Score: </p>
                <div class="form">
                    <label>Please input your name</label>
                    <input type="text" name="name">
                    <div class="submit">
                        <a class="submitName">Submit Score</a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        {% endif %}


        <div id="mySidenav" class="sidenav">
            <p>Menu</p>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/" class="navigation">Home</a>
            <a href="/freeplay" class="navigation">Freeplay</a>
            <a href="/play-music" class="navigation">Play Music</a>
            <a href="/survival" class="navigation">Survival</a>
            <a href="/scoreboard" class="navigation">Scoreboard</a>
        </div>

        <div class="header">
            <div class="left-container">
                <div class="navButton" onclick="openNav()">&#9776; </div>
                <div class="menu" onclick="openNav()">Menu</div> 
           </div> 
            {% block header %}
            <h1>Play Piano</h1>
            {% endblock %}
        </div>



        <script>
            function openNav() {
            document.getElementById("mySidenav").style.display = "block";
            }

            function closeNav() {
            document.getElementById("mySidenav").style.display = "none";
            }
            // window.addEventListener('load', openNav());

        </script>

        <div class="content">
            {% block content %}
            <!-- Content will go here -->
            {% endblock %}
        </div>
    </body>
</html> 