{% block stylesheets %}
<link rel="stylesheet" href="/static/css/piano.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

<div class="piano">
    <div class="key white" data-note="53">F3</div>
    <div class="key black" data-note="54">F3#</div>
    <div class="key white" data-note="55">G3</div>
    <div class="key black" data-note="56">G3#</div>
    <div class="key white" data-note="57">A3</div>
    <div class="key black" data-note="58">A3#</div>
    <div class="key white" data-note="59">B3</div>
    <div class="key white" data-note="60">C4</div>
    <div class="key black" data-note="61">C4#</div>
    <div class="key white" data-note="62">D4</div>
    <div class="key black" data-note="63">D4#</div>
    <div class="key white" data-note="64">E4</div>
    <div class="key white" data-note="65">F4</div>
    <div class="key black" data-note="66">F4#</div>
    <div class="key white" data-note="67">G4</div>
    <div class="audio">
        <audio data-key="53" src="/static/sounds/53.mp3"></audio>
        <audio data-key="54" src="/static/sounds/54.mp3"></audio>
        <audio data-key="55" src="/static/sounds/55.mp3"></audio>
        <audio data-key="56" src="/static/sounds/56.mp3"></audio>
        <audio data-key="57" src="/static/sounds/57.mp3"></audio>
        <audio data-key="58" src="/static/sounds/58.mp3"></audio>
        <audio data-key="59" src="/static/sounds/59.mp3"></audio>
        <audio data-key="60" src="/static/sounds/60.mp3"></audio>
        <audio data-key="61" src="/static/sounds/61.mp3"></audio>
        <audio data-key="62" src="/static/sounds/62.mp3"></audio>
        <audio data-key="63" src="/static/sounds/63.mp3"></audio>
        <audio data-key="64" src="/static/sounds/64.mp3"></audio>
        <audio data-key="65" src="/static/sounds/65.mp3"></audio>
        <audio data-key="66" src="/static/sounds/66.mp3"></audio>
        <audio data-key="67" src="/static/sounds/67.mp3"></audio>
    </div>
</div>

<script>
    const mode = "{{ mode }}"
    var nextNote = null

    window.onload = function() {
        if(mode == "play_music" || mode == "survival") {
            // Send AJAX POST request
            $.ajax({
                url: 'api/piano/initialize',
                type: 'post',
                contentType: 'application/json',              
                success: function(data) {
                    document.querySelector('.key[data-note="' + data.nextNote + '"]').classList.add("highlight")
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Convert response into usable JavaScript data
                    console.log(xhr.responseText)
                    error = JSON.parse(xhr.responseText);
                }       
            });
        }
    };

    $(".key").on("click", function() {
        const audio = document.querySelector('audio[data-key="' + $(this).data('note') + '"]')
        audio.play()
        
        if(mode == "play_music" || mode == "survival") {
            // Send AJAX POST request
            $.ajax({
                url: 'api/piano/keypress',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({'mode': mode, key: $(this).data('note')}),                       
                success: function(data) {
                    if(data.correctNote == false) {
                        console.log("INCORRECT NOTE. END HERE!!!")
                    }

                    else {
                        keys = document.querySelectorAll('.key')

                        for(var i = 0; i < keys.length; i++) {
                            keys[i].classList.remove("highlight")
                        }

                        document.querySelector('.key[data-note="' + data.nextNote + '"]').classList.add("highlight")
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Convert response into usable JavaScript data
                    console.log(xhr.responseText)
                    error = JSON.parse(xhr.responseText);
                }       
            });
        }
    });
</script>