{% block stylesheets %}
<link rel="stylesheet" href="/static/css/piano.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

<section class="piano">
    <div class="key white" data-note="53">F3</div>
    <div class="key black" data-note="54">F3#</div>
    <div class="key white" data-note="55">G3</div>
    <div class="key black" data-note="56">G3#</div>
    <div class="key white" data-note="57">A3</div>
    <div class="key black" data-note="58">A3#</div>
    <div class="key white" data-note="59">B3</div>
    <div class="key white" data-note="60">C4</div>
    <div class="key black" data-note="61">C4#</div>
    <div class="key white" data-note="62">D4</div>
    <div class="key black" data-note="63">D4#</div>
    <div class="key white" data-note="64">E4</div>
    <div class="key white" data-note="65">F4</div>
    <div class="key black" data-note="66">F4#</div>
    <div class="key white" data-note="67">G4</div>
</section>

<script>
    const mode = "{{ mode }}"
    var audioElements = null
    var nextNote = null

    window.onload = function() {
        if(mode == "survival") {
            // Send AJAX POST request
            $.ajax({
                url: 'api/piano/initialize',
                type: 'post',
                contentType: 'application/json',              
                success: function(data) {
                    document.querySelector('.key[data-note="' + data.nextNote + '"]').classList.add("highlight")
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Convert response into usable JavaScript data
                    console.log(xhr.responseText)
                    error = JSON.parse(xhr.responseText);
                }       
            });
        }
    };

    $(".key").on("click", function() {
        const audio = new Audio("/static/sounds/" + $(this).data('note') + ".mp3")
        
        audio.addEventListener("canplaythrough", (event) => {
            audio.play();
        });
        
        if(mode == "play_music" || mode == "survival") {
            // Send AJAX POST request
            $.ajax({
                url: 'api/piano/keypress',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({'mode': mode, 'key': $(this).data('note')}),                       
                success: function(data) {
                    var modal = document.querySelector(".modals")
                    var end = modal.querySelector(".end")

                    if(data.status == 1) {
                        modal.classList.remove("hidden")
                        end.classList.add("shown")
                        end.querySelector("h1").innerHTML = "Completed Successfully"
                        end.querySelector("p").innerHTML = "Score: " + data.score
                        //end.querySelector(".form").classList.add("shown")
                    }

                    else if(data.correctNote == false) {
                        modal.classList.remove("hidden")
                        end.classList.add("shown")
                        end.querySelector("h1").innerHTML = "Incorrect Note Pressed"
                        end.querySelector("p").innerHTML = "Score: " + data.score

                        if(mode == "survival") {
                            end.querySelector(".form").classList.add("shown")
                        }
                    }

                    else {
                        keys = document.querySelectorAll('.key')

                        for(var i = 0; i < keys.length; i++) {
                            keys[i].classList.remove("highlight")
                        }

                        document.querySelector('.key[data-note="' + data.nextNote + '"]').classList.add("highlight")
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Convert response into usable JavaScript data
                    console.log(xhr.responseText)
                    error = JSON.parse(xhr.responseText);
                }       
            });
        }
    });

    $(".modals .selection a").on("click", function() {
        if(mode == "play_music") {
            // Send AJAX POST request
            $.ajax({
                url: 'api/piano/selectsong',
                type: 'post',
                contentType: 'application/json',    
                data: JSON.stringify({'song': $(this).data('name')}),     
                success: function(data) {
                    document.querySelector(".modals .selection").remove();
                    document.querySelector(".modals").classList.add("hidden");

                    keys = document.querySelectorAll('.key')

                    for(var i = 0; i < keys.length; i++) {
                        keys[i].classList.remove("highlight")
                    }

                    document.querySelector('.key[data-note="' + data.nextNote + '"]').classList.add("highlight")
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Convert response into usable JavaScript data
                    console.log(xhr.responseText)
                    error = JSON.parse(xhr.responseText);
                }       
            });
        }
    });

    $(".modals .end a").on("click", function() {
        // Send AJAX POST request
        $.ajax({
            url: 'api/piano/setscore',
            type: 'post',
            contentType: 'application/json',    
            data: JSON.stringify({'name': document.querySelector(".modals .modal .form input[name=name]").value}),
            success: function(data) {
                location.reload();
            },
            error: function(xhr, textStatus, errorThrown) {
                // Convert response into usable JavaScript data
                console.log(xhr.responseText)
                error = JSON.parse(xhr.responseText);
            }       
        });
    });
</script>